---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rodrigo Castrej칩n">
  <main>
    <div class="p-4">
      <section id="about" class="mt-32 px-4">
        <div class="space-y-8">
          <span class="font-thin underline text-4xl">Rodrigo Castrej칩n</span>
          <h1 class="font-serif text-3xl">Full-stack web developer.</h1>
          <div class="space-y-4">
            <p>
              My proficiency spans a spectrum of programming languages,
              including Python, Ruby, and TypeScript. I bring creativity and
              depth to frontend development, having honed my skills in React,
              Next.js, and Angular. For backend solutions, I have a wealth of
              experience with Rails, Express.js, and Django. I'm an ardent
              advocate for continuous self-improvement.
            </p>
            <p>
              My unyielding commitment to learning allows me to embrace new
              challenges, adapt to evolving requirements, and swiftly acquire
              the tools necessary to bolster the team's success.
            </p>
          </div>
        </div>
      </section>

      <section id="education" class="px-4">
        <div class="my-12">
          <div class="pb-5 border-foreground border-b">
            <h2 class="text-3xl font-serif">Education & Experience</h2>
          </div>
        </div>
        <div>
          <div class="mt-12 mb-6">
            <div class="pb-5 border-foreground border-b">
              <span class="text-muted-foreground">May 2022 - Present</span>
              <h2 class="text-lg font-serif uppercase">Dealer Geek</h2>
            </div>
          </div>
          <p>
            Currently, as a Full-stack Developer at Dealer Geek, I am actively
            involved in the development of web applications. I utilize Python,
            Flask, and FastAPI for backend development, with MongoDB as the
            database solution. On the frontend, I employ Angular and Tailwind to
            create user-friendly interfaces that enhance the overall user
            experience.
          </p>
        </div>
        <div>
          <div class="mt-12 mb-6">
            <div class="pb-5 border-foreground border-b">
              <span class="text-muted-foreground">2020 - Winter 2024</span>
              <h2 class="text-lg font-serif uppercase">
                Universidad Aut칩noma de Yucat치n
              </h2>
            </div>
          </div>
          <p>
            Seventh semester Software Engineering student with an average grade
            of 94.68 out of 100.
          </p>
        </div>
      </section>
    </div>
  </main>
</Layout>
