---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Rodrigo Castrejón's portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>💼</text></svg>"
    />
  </head>
  <body class="bg-background text-foreground">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Inter";
    src:
      url("/fonts/subset-Inter-Regular.woff2") format("woff2"),
      url("/fonts/subset-Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Kaisei Decol";
    src:
      url("/fonts/subset-KaiseiDecol-Medium.woff2") format("woff2"),
      url("/fonts/subset-KaiseiDecol-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Kaisei Decol";
    src:
      url("/fonts/subset-KaiseiDecol-Regular.woff2") format("woff2"),
      url("/fonts/subset-KaiseiDecol-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("/fonts/subset-Inter-Thin.woff2") format("woff2"),
      url("/fonts/subset-Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
</style>
